* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body {
   font-family: Arial, sans-serif;
   padding: 20px;
}

section {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   gap: 16px;
   flex-direction: column;
}

img {
   width: 648px;
   height: auto;
}

h2 {
   margin-bottom: 24px;
}

h3 {
   margin-top: 16px;
   margin-bottom: 8px;
}

p {
   margin-bottom: 16px;
}

a {
   padding: 12px;
   text-decoration: none;
   color: blue;
}

.Tecnologia {
   background-color: rgb(199, 215, 230);
}

.Entretenimento {
   background-color: rgb(247, 213, 239);
}

.Economia {
   background-color: rgb(247, 213, 213);
}

.Esportes {
   background-color: rgb(247, 213, 239);
}