* {
   margin: 0;
   padding: 0; /*comment*/
}

body {
   font-family: Arial, sans-serif;
   padding: 20px;
}

section {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: space-between;
   padding: 32px;
}

article {
   width: 30%; /* Define tres articles por linha */
   margin-bottom: 32px;
}

h2 {
   width: 100%; /* Mantém o título na largura total da linha */
   margin-bottom: 24px;
}

nav {
   margin: 20px 0;
}

nav ul {
   list-style-type: none;
   display: flex;
   flex-direction: row;
}

ul li a {
      background-color: transparent; /* back color */
      color: rgb(44, 42, 42); /* preto */
      border: 1px solid blue; /* Define a largura (1px), o estilo (solid), e a cor (blue) */
      padding: 8px; /* Adiciona um pouco de padding para espaçamento interno */
      text-decoration: none; 
}

img {
   width: 648px;
   height: auto;
}

h3 {
   margin-top: 16px;
   margin-bottom: 8px;
}

p {
   margin-bottom: 16px;
}

a {
   background-color: rgb(43, 136, 43);
   padding: 12px;
   text-decoration: none;
   font-weight: 500;
   color: aliceblue;
}

.Tecnologia {
   background-color: rgb(199, 215, 230);
}

.Entretenimento {
   background-color: rgb(247, 213, 239);
}

.Esportes {
   background-color: rgb(247, 213, 213);
}

.Economia {
   background-color: rgb(247, 245, 213);
}

#economy a{
   color: black;
   background-color: rgb(206, 197, 69);
}

#sports a {
   background-color: brown;
}

#ent a {
   background-color: rgb(165, 20, 146);
}

#tec a {
   background-color: rgb(43, 17, 189);
}